.photo-grid {
  list-style: none;
  max-width: 1184px;
  justify-content: center;
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 92px 0 0 0;
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding: 88px 0 0 0;
    gap: 12px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    padding: 64px 0 0 0;
  }
}



