.header {
  display: flex;
  justify-content: space-between;
  margin: 28px 28px 56px;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .header {
    margin: 28px 48px 48px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 16px 16px 48px;
  }
}

