.lead__image {
  max-width: 984px;
  width: 100%;
  max-height: 679px;
  object-fit: cover;
  object-fit: contain;
  padding-top: 64px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
    max-height: 636px;
    padding-top: 56px;
  }
}

@media screen and (max-width: 768px)  {
  .lead__image {
    max-width: 768px;
    max-height: 536px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    max-width: 320px;
    max-height: 240px;
    padding-top: 40px;
  }
}
