.intro {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(3, max-content);
  margin: 114px auto 0;
  max-width: 984px;
  justify-content: start;
  align-content: center;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
  }
}
