.lead__subtitle {
  padding-top: 32px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 400;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 25px;
    line-height: 26px;
    max-height: 25px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    padding-top: 16px;
    font-size: 16px;
    line-height: 20px;
    max-height: 56px;
  }
}
