.footer {
  display: flex;
  margin: 92px auto 24px;
  max-width: 1184px;
  width: 100%;
  flex-flow: flex-row;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .footer {
    width: 95%;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    margin: 64px auto 24px;
  }
}
